@import "tailwindcss";

@font-face {
    font-family:  pst;
    src: url(./fonts/PTSans-Regular.ttf);
}

h1{
    /* font-family: pst; */
}


@keyframes whatsapp-pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
